// Buttons

.btn-actions {
	margin-top: 20px;
}

.btn {
	border: solid 2px;
	color: #FFF;
	padding: 12px 25px;
	transition: all .3s;

	&.btn-primary {
		background-color: $color-red;
		border-color: $color-red;

		.bg-red & {
			border-color: #FFF;
		}
	}

	&.btn-secondary {
		background-color: $color-transparent;
		border-color: #FFF;

		&:hover {
			color: $color-blue;
			border-color: $color-blue;
		}
	}

	&.btn-tertiary {
		background-color: $color-blue;
		border-color: $color-blue;

		&:hover {
			background-color: #252525;
			border-color: #252525;
			color: #FFF;
		}
	}

	&.btn-fourth {
		background-color: $color-transparent;
		border-color: $color-navy-blue;
		color: $color-navy-blue;

		&:hover {
			background-color: $color-navy-blue;
			color: #FFF;
		}
	}

	& + .btn {
		margin-left: 15px;
	}
}