/* Carousel home
------------------------------------------*/

.carousel {

	& .carousel-control.left,
	& .carousel-control.right {
		background-image: none;
	}

}

.carousel-hero {

	& .carousel-caption {
		text-align: left;
		top: 0;
		bottom:0;
		margin: auto;
		height: 270px;

		& h3 {
			font-size: $font-size-hero;
			font-weight: $extra-bold;
			max-width: 580px;
		}

		& p {
			font-size: 22px;
			font-weight: $light;
			text-shadow: none;
			margin: 30px 0;
		}
	}

	& .carousel-control {
		background: transparent;
	}

	& .carousel-control .adn-arrow-left {
		background: url(../images/arrow.png) no-repeat;
		width: 59px;
		height: 62px;
	}
}

/* Carousel Testimony
------------------------------------------*/

.carousel-testimony {

	height: 550px;
	overflow: hidden;
	position: relative;

	.item:before {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		right: 0;
		background: rgba(0,0,0,0.7);
	}

	& .carousel-caption {
		 padding: 80px 0;
	}

	& h3 {
		color: #FFF;
		margin-bottom: 10px;
	}

	h4 {
		font-size: $font-size-base;
		font-weight: $medium;
	}

	& .carousel-caption {
		max-width: 760px;
		right: 0;
		left: 0;
		margin: auto;
		top: 0;
		bottom: 0;
	}

	&-text {
		margin-top: 50px;
		font-size: 18px;
		font-weight: $light;
		line-height: auto;
		font-style: italic;
	}

	&-autor {

		margin-top: 50px;

		& img {
			border: solid 2px #FFF;
			border-radius: 50%;
			margin-bottom: 10px;
			max-width: 120px;
		}
	}

}