/*
	Navigation
---------------------------------------------------*/

.nav {

	& a {
		color: #FFF;
		transition: color .5s ease;

		&:focus,
		&:hover {
			color: #337ab7;
		}
	}

	&>li>a:focus,
	&>li>a:hover,
	&>li.active>a,
	&>li.active>a:focus,
	&>li.active>a:hover {
		background: transparent;
		border-radius: 0;
	}

	&>li.active>a,
	&>li.active>a:focus,
	&>li.active>a:hover {
		border-bottom: solid 1px #FFF;
	}
}