@import url(http://fonts.googleapis.com/css?family=Raleway:500,600,700,800,900,400,300);
/*
	Reset
---------------------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*
	Globals
---------------------------------------------------*/
body {
  background: #FFF;
  font-family: 'Raleway', sans-serif;
  font-size: 14px; }

a {
  transition: color .5s ease; }

p {
  line-height: 1.5em; }

* {
  box-sizing: border-box; }

/*
	Layout
---------------------------------------------------*/
.app-grid {
  margin: 0 auto;
  max-width: 1200px; }

.app-section-container {
  padding: 80px 0; }

.app-container {
  padding: 30px 0; }

/*
	Colors
---------------------------------------------------*/
.red {
  color: #f93b36; }

/*
	Backgrounds
---------------------------------------------------*/
.bg-grey {
  background: #fafafa;
  border-top: solid 1px #e5e5e5; }

.bg-red {
  background: #f93b36; }

/*
	Headings
---------------------------------------------------*/
.app-section-title {
  font-size: 30px;
  color: #63757f;
  text-transform: uppercase;
  font-weight: 700; }

.app-section-subtitle {
  margin: 5px 0 40px; }

.app-section-title, .app-section-subtitle {
  text-align: center; }

/*
	Aligment
---------------------------------------------------*/
.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

/*
  Header
---------------------------------------------------*/
header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999; }
  header .nav, header .app-logo {
    margin-top: 10px; }

/* Section home boxes
---------------------------------------------------*/
.app-boxes li {
  margin-bottom: 60px; }

/* Section download
---------------------------------------------------*/
.app-section-download h3 {
  color: #FFF;
  font-size: 21px;
  font-weight: 300; }
  .app-section-download h3 .btn {
    margin-left: 10px; }

/* Gallery home */
.app-gallery-home {
  overflow: hidden;
  padding-bottom: 0; }
  .app-gallery-home li {
    margin: 0;
    overflow: hidden;
    position: relative; }
  .app-gallery-home img {
    max-width: 100%;
    display: block;
    opacity: .8; }
  .app-gallery-home a {
    display: block;
    transition: all .5s; }
  .app-gallery-home i {
    position: absolute;
    bottom: -50px;
    margin: auto;
    height: 30px;
    width: 30px;
    right: 0;
    left: 0;
    transition: all .3s;
    z-index: 400; }
    .app-gallery-home i:before {
      color: #FFF;
      font-size: 30px; }
  @media (min-width: 768px) {
    .app-gallery-home li {
      float: left;
      width: 25%; }
    .app-gallery-home a:hover i {
      top: 0;
      bottom: 0; }
    .app-gallery-home a:hover img {
      opacity: 1; } }
  @media (min-width: 480px) and (max-width: 768px) {
    .app-gallery-home li {
      float: left;
      width: 50%; }
    .app-gallery-home a:hover i {
      top: 0;
      bottom: 0; }
    .app-gallery-home a:hover img {
      opacity: 1; } }
  @media (max-width: 480px) {
    .app-gallery-home li {
      width: 100%; }
    .app-gallery-home img {
      margin: auto; } }

.btn-actions {
  margin-top: 20px; }

.btn {
  border: solid 2px;
  color: #FFF;
  padding: 12px 25px;
  transition: all .3s; }
  .btn.btn-primary {
    background-color: #f93b36;
    border-color: #f93b36; }
    .bg-red .btn.btn-primary {
      border-color: #FFF; }
  .btn.btn-secondary {
    background-color: transparent;
    border-color: #FFF; }
    .btn.btn-secondary:hover {
      color: #378ffa;
      border-color: #378ffa; }
  .btn.btn-tertiary {
    background-color: #378ffa;
    border-color: #378ffa; }
    .btn.btn-tertiary:hover {
      background-color: #252525;
      border-color: #252525;
      color: #FFF; }
  .btn.btn-fourth {
    background-color: transparent;
    border-color: #63757f;
    color: #63757f; }
    .btn.btn-fourth:hover {
      background-color: #63757f;
      color: #FFF; }
  .btn + .btn {
    margin-left: 15px; }

.app-box, .app-card {
  background: #FFF;
  padding: 0; }
  .app-box-content {
    padding: 15px; }
  .app-box-icon {
    position: relative;
    padding-left: 40px;
    margin-bottom: 20px; }
    .app-box-icon h2 {
      font-size: 18px;
      font-weight: 600;
      color: #788797; }
    .app-box-icon i {
      position: absolute;
      top: 0;
      left: 5px; }
    .app-box-icon i:before {
      font-size: 24px; }
    .app-box-icon p {
      line-height: 22px; }
  .app-box img, .app-card img {
    width: 100%; }

/* Carousel home
------------------------------------------*/
.carousel .carousel-control.left, .carousel .carousel-control.right {
  background-image: none; }

.carousel-hero .carousel-caption {
  text-align: left;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 270px; }
  .carousel-hero .carousel-caption h3 {
    font-size: 48px;
    font-weight: 800;
    max-width: 580px; }
  .carousel-hero .carousel-caption p {
    font-size: 22px;
    font-weight: 300;
    text-shadow: none;
    margin: 30px 0; }
.carousel-hero .carousel-control {
  background: transparent; }
.carousel-hero .carousel-control .adn-arrow-left {
  background: url(../images/arrow.png) no-repeat;
  width: 59px;
  height: 62px; }

/* Carousel Testimony
------------------------------------------*/
.carousel-testimony {
  height: 550px;
  overflow: hidden;
  position: relative; }
  .carousel-testimony .item:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7); }
  .carousel-testimony .carousel-caption {
    padding: 80px 0; }
  .carousel-testimony h3 {
    color: #FFF;
    margin-bottom: 10px; }
  .carousel-testimony h4 {
    font-size: 14px;
    font-weight: 500; }
  .carousel-testimony .carousel-caption {
    max-width: 760px;
    right: 0;
    left: 0;
    margin: auto;
    top: 0;
    bottom: 0; }
  .carousel-testimony-text {
    margin-top: 50px;
    font-size: 18px;
    font-weight: 300;
    line-height: auto;
    font-style: italic; }
  .carousel-testimony-autor {
    margin-top: 50px; }
    .carousel-testimony-autor img {
      border: solid 2px #FFF;
      border-radius: 50%;
      margin-bottom: 10px;
      max-width: 120px; }

.app-list, .app-list-width-title {
  font-size: 14px;
  color: #63757f; }
  .app-list li, .app-list-width-title li {
    margin-bottom: 20px; }

.app-list-width-title h3 {
  font-weight: bold;
  margin-bottom: 5px; }

/*
	Navigation
---------------------------------------------------*/
.nav a {
  color: #FFF;
  transition: color .5s ease; }
  .nav a:focus, .nav a:hover {
    color: #337ab7; }
.nav > li > a:focus, .nav > li > a:hover, .nav > li.active > a, .nav > li.active > a:focus, .nav > li.active > a:hover {
  background: transparent;
  border-radius: 0; }
.nav > li.active > a, .nav > li.active > a:focus, .nav > li.active > a:hover {
  border-bottom: solid 1px #FFF; }

/*
  Search
---------------------------------------------------*/
.search-container .search-input {
  height: 25px;
  font-size: 14px;
  display: inline-block;
  border: none;
  outline: none;
  color: #333;
  padding: 3px;
  padding-right: 60px;
  width: 0px;
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  z-index: 3;
  transition: width .4s cubic-bezier(0, 0.795, 0, 1);
  cursor: pointer; }
  .search-container .search-input:focus:hover {
    border-bottom: 1px solid #BBB; }
  .search-container .search-input:focus {
    width: 400px;
    z-index: 1;
    background: #FFF;
    cursor: text; }
  .search-container .search-input:focus + .search-button i:before {
    color: #337ab7; }
.search-container .search-button {
  background: transparent;
  border: none;
  bottom: 0;
  cursor: pointer;
  height: 25px;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity .4s ease;
  width: 25px;
  z-index: 2; }
  .search-container .search-button:hover {
    opacity: 0.8; }
  .search-container .search-button i:before {
    color: #FFF; }

.effect-zoom, .app-gallery-home a:hover img {
  transition: all .5s; }
  .effect-zoom:hover, .app-gallery-home a:hover img:hover {
    -webkit-transform: scale(1.1, 1.1);
        -ms-transform: scale(1.1, 1.1);
            transform: scale(1.1, 1.1); }


