@mixin border-radius($radius) {
    border-radius: $radius;
}

@mixin transition ($transition) {
	transition: $transition;
}

@mixin transform ($transform){
	transform: $transform;
}

@mixin box-shadow ($box-shadow){
	box-shadow: $box-shadow;
}