// Variables

// Globals

$body-bg: #FFF;


// Fonts

$font-size-base: 14px;
$font-size-title-section: 30px;
$font-size-title-article: 18px;
$font-size-hero: 48px;

$light: 300;
$normal: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;

// Colors

$color-red: #f93b36;
$color-blue: #378ffa;
$color-grey: #f93b36;
$color-transparent: transparent;
$color-text: #788797;