// Variables

// Globals

$body-bg: #FFF;
$bg-grey: #fafafa;


// Fonts

$font-size-base: 14px;
$font-size-title-section: 30px;
$font-size-title-article: 18px;
$font-size-hero: 48px;

$light: 300;
$normal: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;

// Colors

$color-red: #f93b36;
$color-blue: #378ffa;
$color-grey: #788797;
$color-navy-blue: #63757f;
$color-transparent: transparent;
$color-title-default: $color-navy-blue;
$color-text: $color-grey;


// UI Colors

$defaul:;
$succes:;
$error:;
$info:;
$warning:;

// Layout

$padding-section-container: 80px 0;
$padding-container: 30px 0;