/*
	Globals
---------------------------------------------------*/

body {
    background: $body-bg;
    font-family: 'Raleway', sans-serif;
    font-size: $font-size-base;
}

a {
	transition: color .5s ease;
}

p {
	line-height: 1.5em;
}

* {
	box-sizing: border-box;
}

/*
	Layout
---------------------------------------------------*/

.app-grid {
	margin: 0 auto;
	max-width: 1200px;
}

.app-section-container {
	padding: $padding-section-container;
}

.app-container {
	padding: $padding-container;
}

/*
	Headings
---------------------------------------------------*/

.app-section-title {
	font-size: $font-size-title-section;
	color: $color-title-default;
	text-transform: uppercase;
	font-weight: $bold;
}

.app-section-subtitle {
	margin: 5px 0 40px;
}

.app-section-title,
.app-section-subtitle {
	text-align: center;
}

.app-column {
	padding: 20px;
	@include transition(all .5s);

	&-title {
		font-size: $font-size-large;
		font-weight: $bold;
		margin-top: 60px;
		margin-bottom: 50px;
		@include transition(all .3s ease-out);
	}

	$icon-font-size: 200px;

	& i {
		display: block;
		font-size: $icon-font-size;
		@include transition(all .3s ease-out);
		margin: 30px 0;
	}

	&:hover {

		.app-column-title {
			margin-top: 0;
		}

		i {
			font-size: $icon-font-size / 2;
		}
	}
}

.app-column-item {
	min-height: 500px;
	padding: 40px;
	position: relative;
	overflow: hidden;

	& .btn {
		margin-top: 30px;
	}
}

/*
	Aligment
---------------------------------------------------*/

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

/*
	Colors
---------------------------------------------------*/

.color-white {
	color: $color-white;
}

.color-red {
	color: $color-red;
}

.color-blue {
	color: $color-blue;
}

.color-grey {
	color: $color-grey;
}

.color-grey-light {
	background-color: $color-grey;
}

.color-navy-blue {
	color: $color-navy-blue;
}

.color-transparent {
	color: $color-transparent;
}

/*
	Backgrounds
---------------------------------------------------*/

.bg-color-white {
	background-color: $color-white;
}

.bg-color-red {
	background-color: $color-red;
}

.bg-color-blue {
	background-color: $color-blue;
}

.bg-color-grey {
	background-color: $color-grey;
}

.bg-color-grey-light {
	background-color: $color-grey-light;
}

.bg-color-grey-dark {
	background-color: $color-grey-dark;
}

.bg-color-navy-blue {
	background-color: $color-navy-blue;
}

.bg-color-transparent {
	background-color: $color-transparent;
}
